a {
  text-align: center;
  margin: auto 2px auto 2px;
  text-decoration: none;
  color: #007289;
}

a:hover {
  text-decoration: underline;
  color: #FE4343
}

body {
  text-align: center;
  background-color: #9ec9cf;
  margin: 0;
}

button {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

h3 {
  padding-left: 10px;
}

nav {
  text-align: center;
  background-color: #9ec9cf;
}

ol {
  line-height: 2;
}

p {
  padding-left: 20px;
}

table {
  text-align: left;
  padding: 0 10px 0 10px;
  margin-left: 35%;
}

td {
  padding: 0 10px 0 10px;
}

/*****************************Classes*****************************/
.end {
  text-align: center;
  background-color: #9ec9cf;
}

.examples {
  text-align: center;
}

.footer-link-img {
  height: 30px;
  margin-top: 15px;
}

.image {
  height: 120px;
  border-radius: 100%;
}

.image:hover {
  -webkit-animation: rotation .2s linear;
  border-radius: 100%;
  height: 120px;
  content: url('images/WhiteLogo2.jpg');
}

.lessons {
  padding: 0 25px 0 25px;
}

.table-example {
  text-align: center;
}

.top {
  text-align: center;
  background-color: #9ec9cf;
}

/*****************************IDs*****************************/
.footer-copyright {
  margin-top: 5px;
  font-size: 1.2rem;
}

#footer-link-logo {
  border-radius: 20%;
}

/*****************************Weird @ Thingy*****************************/
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@media screen and (max-width: 980px) {
  .top {
    height: 11.25rem;
  }

  .image {
    margin-top: 10px;
    height: 10rem;
  }

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem
}

a {
  font-size: 2rem;
}

p {
  font-size: 1.9rem;
}

li {
  font-size: 1.7rem;
}

td {
  font-size: 1.7rem;
}

table {
  margin-left: 200px;
}

.footer-copyright {
  font-size: 2rem;
}

.footer-link-img {
  height: 3rem;
  margin-left: 2%;
  /* margin-top: 50px; */
}

.footer-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-row {
  background-color: #9ec9cf;
  height: 460px;
}

.navbar-toggler {
  width: 90px;
  height: 70px;
}
}
