a {
  text-align: center;
  margin: auto 2px auto 2px;
  text-decoration: none;
  color: #007289;
}

a:hover {
  text-decoration: underline;
  color: #FE4343
}
body {
  text-align: center;
  background-color: #9ec9cf;
  margin: 0;
}

button {
  margin-bottom: 10px;
}

h1 {
  text-align: center;
}

h3 {
  padding-left: 10px;
}

nav {
  text-align: center;
  background-color: #9ec9cf;
}

ol {
  line-height: 2;
}

p {
  padding-left: 20px;
}

table {
  text-align: left;
  padding: 0 10px 0 10px;
  margin-left: 35%;
}

td {
  padding: 0 10px 0 10px;
}

/*****************************Classes*****************************/
.end {
  text-align: center;
  background-color: #9ec9cf;
}

.examples {
  text-align: center;
}

.footer-link-img {
  height: 30px;
  margin-top: 15px;
}

.image {
  height: 120px;
  border-radius: 100%;
}

.image:hover {
  -webkit-animation: rotation .2s linear;
  border-radius: 100%;
  height: 120px;
  content: url('images/WhiteLogo2.jpg');
}

.lessons {
  padding: 0 25px 0 25px;
}

.table-example {
  text-align: center;
}

.top {
  text-align: center;
  background-color: #9ec9cf;
}

/*****************************IDs*****************************/
#footer-copyright {
  margin-top: 5px;
}

#footer-link-logo {
  border-radius: 20%;
}

/*****************************Weird @ Thingy*****************************/
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}
